@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

html, body {
    font-size: 12px;
}

h1 {
    margin-bottom: 3rem;
    font-family: 'Montserrat';
    font-size: 6.103515625em;
    line-height: 9rem;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0em;
}

h2 {
    margin-bottom: 3rem;
    font-family: 'Montserrat';
    font-size: 4.8828125em;
    line-height: 6rem;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0em;
}

h3 {
  margin-bottom: 3rem;
  font-family: 'Montserrat';
  font-size: 3.90625em;
  line-height: 6rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
}

h4 {
  margin-bottom: 3rem;
  font-family: 'Montserrat';
  font-size: 3.125em;
  line-height: 6rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
}

h5 {
  margin-bottom: 3rem;
  margin-top: 3rem;
  color: #2d89e5;
  font-family: 'Montserrat';
  font-size: 2.5em;
  line-height: 3rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
}

h6 {
  font-family: 'Lato';
  font-size: 2em;
  line-height: 3rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
}

p {
  margin-bottom: 3rem;
  font-family: 'Lato';
  font-size: 1.6em;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

label {
  font-size: 15px;
}

.btn-primary {
  background-color: #2d89e5;
  border-style: none
}

.color-blue {
  color: #2d89e5;
}

.icon-card {
  font-size: 100px;
}

.color-red {
  color: #e52d2d
}

.add-new-card {
  margin-top: 70px;
}

.c-navbar-title {
  color: #2d89e5;
  font-family: 'Lato';
  font-size: 2em;
  line-height: 3rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
}

.c-card {
  border-radius: 0px;
  border-style: none;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
  padding: 15px;
  height: 300px;
}

.c-split-header {
  height: 100vh !important;
  background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.c-split {
  height: 100vh;
}

.c-split-header-title {
  padding:30px;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 50px;
}

.c-split-header-text {
  padding: 30px;
  font-family: 'Montserrat';
  font-size: 1.6em;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  color: #fff;
}

.c-split-header-icon {
  margin-top: 100px;
  padding: 30px;
  font-size: 140px;
  color: #fff;
}

.c-split-form {
  box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
}

.c-split-form-header {
  color: #2d89e5;
}

.c-split-form-input {
  border-style: none;
  border-bottom-style: solid;
  border-radius: 0;
}